*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* @media (max-width: 767px) { */

.cuerpo{
    max-width: 100%;
    padding: .2em;
    margin: 3px;
    background-color: lightgray;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

button{
    font-size: 0.8em;
}

header{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.75);
    color: lightblue;
    padding: .5vw;
    border-bottom: 2px dotted black;
    font-family: cursive;
}

header > .home{
    flex: 50%;
    padding: 5px 20px 0px 20px;
    text-align: center;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    border-bottom: 2px solid black;
    padding: 5px 20px 10px 20px;
}

a{
    color: black;
    text-decoration: none;
    padding: 0px 10px 0 10px;
}

a:hover{
    background-color: #b5b2b2;
}

footer{
    padding: 5px 20px 10px 20px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: medium;
}

footer h3{
    background-color: #b5b2b2;
    padding: .5em;
    border-radius: 12px;
    margin: .5em;
    border: .10em solid red;
}

.hero{
    color: rgba(0, 0, 0, 0.836);
    background-color: rgba(200, 120, 23, 0.950);
    border-radius: 18px;
    padding: .5em;
    border: .2em ridge black;
    text-align: center;
    font-size: 20px;
    margin: .5em;
    text-shadow: 2px 2px #b5b2b2;
}

.aetp{
    display: flex;
    max-width: 1400px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 1.5em;
    
}

.aeth{
    padding: 20px;
    background-color: rgba(200, 120, 23, 0.950);
    margin: auto;
    width: 98%;
    border-radius: 20px;
    font-size: 0.6em;
    border: .3em ridge black;
}

.img{
    width: 100%;
    border: 1px solid black;
    height: fit-content; /*100%*/
    border-radius: 5px;

}

.info{
    text-align: center;

}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.836);
    max-width: 1400px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    width: 50%;
}

.contenedor > div{
    flex: 50%;
    padding: 20px;
    text-align: center;

}

.contenedor >  .continfo{
    border: 1px solid black;
    border-radius: 15px;
    color: rgba(58, 58, 59, 0.966);
    background-color: rgba(200, 120, 23, 0.950);

}

#contenidocarrusel{
    max-width: 1400px;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    height: 450px;
    overflow: hidden;
}

.carru{
    position: relative;
    height: 450px;
}

.tarjeta{
    height: 100%;
}

/* #tarjetacarru1{
    background-color: blue;
}
#tarjetacarru2{
    background-color: red;
}
#tarjetacarru3{
    background-color: green;
} */

.tarjeta > div{
    height: 100%;
    text-align: center;
}

.flechas{
    top: 0;
    width: 100%;
    height: 80%; /*90% celulares va bien*/
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flechas > a:hover{
    background-color: rgba(0, 0, 0, 0.137);
}

.imgcarru{
    width: 80%;
    height: 50%;
}

#carrupuntos{
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
#carrupuntos > a{
    font-size: 1.5em;
    font-style: none;
}

.sectform{
    display: flex;
    max-width: 1400px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 1.5em;
}

.form{
    padding: 20px;
    background-color: rgba(200, 120, 23, 0.950);
    margin: auto;
    width: 60%;
    border-radius: 30px;
    font-size: 0.6em;
    font-style: none;
    background-color: rgba(128, 128, 128, 0.315);
}

.form > button{
    background-color: rgba(255, 0, 0, 0.815);
    font-size: 1.5em;
    border-radius: 5px;
}